<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.gdgm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".support.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.CourseActivity"
            android:label="课表查询"></activity>
        <activity
            android:name=".ui.ScoreActivity"
            android:label="成绩查询"></activity>
        <activity
            android:name=".ui.UpdatePasswordActivity"
            android:label="修改密码" />
        <activity
            android:name=".ui.PersonInfoActivity"
            android:label="个人信息" />
        <activity
            android:name=".ui.LibraryActivity"
            android:label="图书查询"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.BookDetailActivity" />
    </application>

</manifest>